/* Estilos globales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

/* Estilos para el contenedor principal */
.App {
  text-align: center;
  padding: 20px;
  margin: 0 auto; 
  max-width: 1200px; 
}

/* Estilos para la lista de tareas */
.todo-list-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px auto;
  max-width: 400px;
}

/* Estilos para cada tarea */
.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  position: relative; 
  list-style: decimal; /* Numeración decimal */
}

/* Estilos para el formulario de agregar tarea */
.add-todo-form {
  display: flex;
  margin-top: 20px;
}

.todo-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Estilos para los botones en modo de visualización */
.buttons {
  display: flex;
  gap: 8px;
  align-items: flex-end;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.add-button,
.delete-button,
.edit-button,
.save-button {
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
}

.delete-button {
  background-color: #dc3545;
  color: #fff;
}

.edit-button {
  background-color: #ffc107;
  color: #212529;
  margin-right: 4px;
}

.save-button {
  background-color: #28a745;
  color: #fff;
  margin-left: 4px;
}

.delete-button:hover {
  background-color: #a81c2a;
}

.edit-button:hover {
  background-color: #e0a800;
}

.save-button:hover {
  background-color: #218838;
}

/* Estilos para los contenedores de los botones */
.edit-controls,
.view-controls {
  display: flex;
  align-items: center;
}

/* Estilos para los botones en modo de edición */
.edit-controls .edit-button,
.edit-controls .save-button {
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: auto;
}

.edit-button {
  background-color: #ffc107;
  color: #212529;
}

.save-button {
  background-color: #28a745;
  color: #fff;
}

/* Estilos para el footer */
footer {
  background-color: #000;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
